@use "functions.scss" as *;

$laptop: 1440.98;
$tabs: 1024.98;
$mobile: 676.98;
$mobile-s: 480.98;

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin tabs {
    @media (width <= rem($tabs)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

@mixin mobile-s {
    @media (width <= rem($mobile-s)) {
        @content;
    }
}


@mixin hover($hasActiveEffectMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if ($hasActiveEffectMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}