@use "../../helpers" as *;

.about {
    width: min(100% - 30px, 1630px);
    margin: 0 auto;

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        .about-text {
            @include fluid-text(35, 20);
            text-align: center;
        }
    }
}