@use "../helpers" as *;

body {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    padding-top: 35px;
    color: var(--orange);
    font-family: var(--font-family-base);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 190px;
}

h1 {
    font-family: var(--font-family-accent);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}