@use "../../helpers" as *;
@use "../../bace/font.scss" as *;
@use "sass:math";

.footer {
    display: flex;
    margin: 0 auto;
    width: min(1024px, 100% - 30px);
    justify-content: space-between;
    padding-block: 70px;

    &__contacts {
        &-title {
            @include fluid-text(40, 20);
            text-align: center;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &-item {
            @include fluid-text(24, 18);
            display: flex;
            align-items: center;

            &:first-child {
                align-self: center;
            }
        }

        &-link {
            margin-left: 15px;
        }
    }

    &__address {
        &-title {
            @include fluid-text(40, 20);
            text-align: center;
            margin-bottom: 60px
        }

        &-details {
            @include fluid-text(24, 18);
            display: flex;
            align-items: center;
        }
    }

    @include tabs {
        margin-top: 100px;
    }

    @include mobile {
        margin-top: 350px;
    }

    @include mobile-s {
        margin-top: 550px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
        padding-top: 0;
    }
}