@use "sass:math";
@use "../../helpers" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 110px;
    padding: 170px 80px;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    background: url("/images/Header.png") no-repeat center right;

    &__title {
        &-title {
            @include fluid-text(300, 95);
            position: relative;
            display: inline;
            color: var(--orange);
            line-height: 1;

            &::before {
                @include fluid-text(70, 20);
                content: "программа для рисования";
                display: inline;
                position: absolute;
                bottom: -30px;
                left: 20px;
                font-family: var(--font-family-base);
                font-weight: 400;

                @include mobile {
                    font-weight: 800;
                }
            }
        }

        &-about {
            @include fluid-text(90, 30)
        }
    }

    &__download {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
        width: min(100%, 843px);

        &-text {
            @include fluid-text(40, 27);
            position: relative;
            line-height: 1;
            margin-left: 20px;

            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 80%;
                background-color: var(--orange);
                border-radius: 8px;
                left: -20px;
                bottom: calc((100% / 2) - (90% / 2));
            }
        }

        &-link {
            padding: 20px 100px;
            background-color: var(--orange);
            color: var(--white);
            font-size: 40px;
            border: 1px solid var(--orange);
            border-radius: 20px;
            transition: var(--transition);

            @include hover {
                background-color: transparent;
                color: var(--orange);
                border-radius: 25px;
            }

            @include mobile-s {
                padding: 15px 50px;
            }
        }
    }

    @include tabs {
        padding: 90px 30px;
        background-image: url(/images/HeaderMobile.png);
        background-position: center center;
    }
}